site_name: Abhay Gupta
site_url: https://blog.abgup.com

theme:
  name: material
  palette:
    - scheme: slate
      primary: deep purple
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default
      primary: deep purple
      accent: custom
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
  font:
    text: Tino
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.top
  locale: en
  color_mode: auto
  user_color_mode_toggle: auto
  favicon: assets/a3.png
  logo: assets/a5.png

extra_css:
  - stylesheets/extra.css