/* Reduce space between bullet points */
.md-typeset ol {
  margin-top: 0;
  margin-bottom: 0;
}

.md-typeset ul {
    margin-top: 1.5em;
}
.md-typeset li {
  margin-top: -0.5em;
}


/* H1 - top level heading */
.md-typeset h1 {
    color: #cc6699;
    position: relative;
    padding-bottom: 0.2rem;
    margin-bottom: 2rem;
  }
  
  .md-typeset h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3px;
    background-color: #cc6699; /* First (top) line */
    box-shadow: 0 6px 0 0 #cc6699; /* Second (bottom) line with gap */
  }
  
  /* H2 - second level heading */
  .md-typeset h2 {
    color: #cc6699;
    border-bottom: 2px solid #cc6699;
    padding-bottom: 0.2em;
    margin-top: 2em;
  }
  
  /* H3 - third level heading */
  .md-typeset h3 {
    color: #cc6699;
    border-bottom: 1px solid #cc6699;
    padding-bottom: 0.2em;
    margin-top: 2em;
  }
 
    :root {
        /* PRIMARY color definitions */
        --md-primary-fg-color: #520194;         /* main primary color */
        --md-primary-fg-color--light: #520194;  /* lighter version */
        --md-primary-fg-color--dark: #520194;   /* darker version */
    
        /* ACCENT color definitions */
        --md-accent-fg-color: #cc6699;          /* accent color */
    }

/* Reduce space between logo and site title */
.md-header__button.md-logo img {
  height: 56px; 
  margin-right: -0.75rem; /* Reduce or set to 0 */
}

.md-header__title {
  margin-top: 5px; /* adjust this value to lower the title */
  font-size: 1.1rem; /* default is ~1.1rem — increase this as needed */
}

/* No wrap mkdocs table */
.nowrap-table table td {
  white-space: nowrap;
}

/* sidebar UI changes */
@media screen and (max-width: 1219px) {
 .md-header__title {
  margin-top: 0px; /* adjust this value to lower the title */
  font-size: 1.1rem; /* default is ~1.1rem — increase this as needed */
 }

 .header-container {
  display: flex;
  justify-content: space-between; /* Distribute items with space in between */
  align-items: center; /* Align items vertically centered */
}

.hamburger-menu {
  order: 1; /* Hamburger menu stays on the left */
}

.logo {
  order: 2; /* Moves the logo to the right */
  margin-left: auto; /* Ensures the logo is aligned to the right edge */
}

.sidebar {
  display: none; /* Optionally hide sidebar on smaller screens */
}

 
}
