name: Deploy Github Pages

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # Check out the repo
        with:
          submodules: recursive
          lfs: false

      - name: Set up Python # Fetch python version
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies # Install dependencies
        run: |
          pip install mkdocs-material
          pip install mkdocs-encryptcontent-plugin

      - name: Build MkDocs site
        run: mkdocs build

      - name: Deploy to GitHub Pages # Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          cname: notes.abgup.com
          publish_branch: gh-pages
          keep_files: false
          force_orphan: true # test to remove cname old





