name: Notify Discord on Push

on:
  push:

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send push info to Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          COMMIT_SHA: ${{ github.sha }}
        shell: bash
        run: |
          REPO="${{ github.repository }}"
          BRANCH="${{ github.ref_name }}"
          ACTOR="${{ github.actor }}"
          COMMIT_URL="https://github.com/$REPO/commit/${COMMIT_SHA:0:7}"
          COMMIT_MSG="${{ github.event.head_commit.message }}"

          MESSAGE="$COMMIT_URL"$'\n'"**Commit Message:** $COMMIT_MSG"
          
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "$(jq -nc --arg msg "$MESSAGE" '{content: $msg, flags: 4096}')" \
               "$DISCORD_WEBHOOK"
